@media screen and (max-width: 900px) {
  div.main-item-about {
    align-self: center;
    width: 260px;
    height: 800;
    background-color: lightskyblue;
    font-size: 13px;
  }
  div.parallax {
    background-image: url("./me.jpg");
    background-size: 100%;
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  p.intro-text {
    font-size: 30px;
    margin-top: 50px;
  }
  div.main-item-portfolio-top {
    display: none;
  }
  div.main-item-portfolio {
    width: 260px;
    height: 500px;
    margin: 0px;
  }
  div.trivia {
    margin: 5px;
  }
  div.trivia-title {
    font-family: "Oswald";
    font-size: 15px;
  }
  div.tic-tac-toe {
    margin: 5px;
  }
  div.tic-tac-toe-title {
    font-family: "Oswald";
    font-size: 15px;
  }
  div.todo-list {
    margin: 5px;
  }
  div.todo-list-title {
    font-family: "Oswald";
    font-size: 15px;
  }
  div.main-item-portfolio-bottom {
    display: flex;
    flex-direction: column;
  }
}
a {
  text-decoration: none;
  color: white;
}
.intro-container {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.intro-text {
  font-family: "Covered By Your Grace", cursive;
  font-size: 40px;
  margin: 0px 0px;
}

.parallax {
  background-image: url("./me.jpg");
  background-size: 67%;
  min-height: 615px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 1200px;
}
.main-item-about {
  align-self: center;
  width: 900px;
  height: 600;
  background-color: lightskyblue;
  padding: 15px;
  font-size: 25px;
  margin-top: 40px;
}
.main-item-portfolio {
  height: 300px;
  width: 900px;
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  align-self: center;
  flex-direction: column;
  padding: 15px;
  margin-top: 40px;
}
.main-item-portfolio-top {
  display: flex;
  justify-content: center;
  font-size: 35px;
  height: 20px;
  font-family: "Oswald";
}
.main-item-portfolio-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trivia {
  margin: 50px;
  align-self: center;
}
.trivia-title {
  font-family: "Oswald";
  font-size: 20px;
}

.tic-tac-toe {
  margin: 50px;
  align-self: center;
}
.tic-tac-toe-title {
  font-family: "Oswald";
  font-size: 20px;
}

.todo-list {
  margin: 50px;
  align-self: center;
}
.todo-list-title {
  font-family: "Oswald";
  font-size: 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
  background-color: black;
}

.footer-item {
  align-self: center;
  margin: 5px;
}
